type "workspace"
version 1

name "High Seas"
alias "highseas"
alias "hs"
id "ltb:XXXX"

// Whether to allow the API to modify the configuration of this workspace
allow_runtime_modification false

// The @env directive lets you selectively exclude things based on
// the environment (LANDTABLE_IAC_ENVIRONMENT= or -e)
@env "production" {
    // Use `primary_database` and `secondary_database` for connecting to
    // existing databases. In this case, you will have to specify every
    // column name manually.
    
    primary_database "Nest Postgres" {
        table_name "people"
    }
    
    secondary_database "Airtable" {
        base "appXXXX"
        
        // Use the replicate property to turn off replication to a
        // database.
        replicate false
    }
}

// Landtable can also manage databases for you with `primary_strategy`
// and `secondary_strategy` if you're not connecting to existing
// databases.
@env "dev" {
    primary_strategy "Dev Database" {
        using "in_memory_provisioning_v0"
    }
}

table "people" {
    // specify values as attributes...
    field "first_name" type="short_text"
    
    // ... or nested nodes
    field "last_name" {
        type "short_text"
        
        @env "production" {
            // change the column on the primary replica
            primary_config {
                column "name"
            }
            
            // or configure the secondary replica
            secondary_config "Airtable" {
                // let's not replicate this specific field to Airtable
                replicate false
            }
        }
    }
    
    // Computed fields!
    field "name" {
        type "formula"
        formula "{first_name} & \" \" & {last_name}"
    }
    
    field "email" type="email"
    
    // you can use nested nodes _and_ attributes even
    field "frumbicated_status" type="enum" {
        default "florp"
        
        enum "florp"
        enum "glorp"
        enum "gloop"
        enum "gleep"
    }
    
    // Landtable formulae can be saved in views!
    view "floorped_people" filter="{frumbicated_status} = \"florp\""
}