type "meta"
version 1

auth "jwt" {}

// Whether to allow runtime provisioning
// (whether you can add/remove fields via the API or the web)
allow_runtime_provisioning true

database "Nest Postgres" {
    using "postgres_v0"
    hostname "hackclub.app"
    
    authentication type="literal" {
        token ""
    }
    
    // or:
    
    /-authentication type="vault-pg" {
        path "database/creds/landtable"
    }
}