version 1
type "workspace"

name "High Seas"
alias "highseas"
alias "hs"

@env "production" {
    // Databases that already exist in Landtable will be changed.
    // Database names will be stored in Landtable IaC state.
    database "production-db-postgres" {
        name "Primary Database"
        
        using "postgres_v0"
        hostname "hackclub.app"
        
        username "sarah"
        
        /-secret_plugin using="vault_iac_userpass_v0" {
            path "database/creds/landtable"
        }
    }
    
    // You can also do this to require using an existing database,
    // for organisations that have multiple different projects using
    // IaC but share databases for some reason.
    /-database "primary"
    
    // Landtable can also manage your databases for you, for example if
    // you're using a SaaS database product.
    /-database "primary" {
        managed "neon_pg_v0"
        api_key {
            plugin "vault"
            path "database/creds/landtable"
            field "secret"
        }
    }
}

@env "dev" {
    database "primary" {
        name "primary"
        
        using "in_memory_v0"
    }
}

table "people" {
    // When the table already exists in Landtable, specify how to merge
    // the two.
    merge_strategy "keep_existing"
    
    @env "production" {
        allow_runtime_modification false
        
        secondary_config "Airtable" {
            replicate false
            
            // replicate takes three variants:
            // - false: don't replicate
            // - true: replicate non-computed values
            // - "computed": replicate computed values like formula fields
            /-replicate "computed"
        }
    }
    
    field "first_name" type="short_text"
    
    // ... or nested nodes
    field "last_name" {
        type "short_text"
        
        @env "production" {
            // change the column on the primary replica
            primary_config {
                column "name"
            }
        }
    }
    
    // Computed fields!
    field "name" {
        type "formula"
        formula "{first_name} & \" \" & {last_name}"
        
        secondary_config "Airtable" {
            // let's replicate this specific field to Airtable
            // note that `replicate "computed"` is not necessary
            replicate true
        }
    }
    
    field "email" type="email"
    
    // you can use nested nodes _and_ attributes even
    field "frumbicated_status" type="enum" {
        default "florp"
        
        enum "florp"
        enum "glorp"
        enum "gloop"
        enum "gleep"
        
        primary_config {
            // don't create a Postgres enum for frumbicated_status
            enforce_enum false
        }
    }
    
    // Landtable formulae can be saved in views!
    view "floorped_people" filter="{frumbicated_status} = \"florp\""
}